<?php
if ( ! defined( 'ABSPATH' ) ) {
	exit;
}

/**
 * Handles deprecation notices and triggering of legacy action hooks.
 *
 * @since 3.0.0
 */
class {PLUGIN_CLASS_PREFIX}_Deprecated_Action_Hooks extends {PLUGIN_CLASS_PREFIX}_Deprecated_Hooks {

	/**
	 * Array of deprecated hooks we need to handle.
	 *
	 * @var array
	 */
	protected $deprecated_hooks = array(
		'{PLUGIN_HOOK_CLASS_NAME}_new_order_item' => array(
'{PLUGIN_HOOK_CLASS_NAME}_order_add_shipping',
'{PLUGIN_HOOK_CLASS_NAME}_order_add_coupon',
'{PLUGIN_HOOK_CLASS_NAME}_order_add_tax',
'{PLUGIN_HOOK_CLASS_NAME}_order_add_fee',
'{PLUGIN_HOOK_CLASS_NAME}_add_shipping_order_item',
'{PLUGIN_HOOK_CLASS_NAME}_add_order_item_meta',
'{PLUGIN_HOOK_CLASS_NAME}_add_order_fee_meta',
),
'{PLUGIN_HOOK_CLASS_NAME}_update_order_item' => array(
'{PLUGIN_HOOK_CLASS_NAME}_order_edit_product',
'{PLUGIN_HOOK_CLASS_NAME}_order_update_coupon',
'{PLUGIN_HOOK_CLASS_NAME}_order_update_shipping',
'{PLUGIN_HOOK_CLASS_NAME}_order_update_fee',
'{PLUGIN_HOOK_CLASS_NAME}_order_update_tax',
),
'{PLUGIN_HOOK_CLASS_NAME}_new_payment_token' => '{PLUGIN_HOOK_CLASS_NAME}_payment_token_created',
'{PLUGIN_HOOK_CLASS_NAME}_new_product_variation' => '{PLUGIN_HOOK_CLASS_NAME}_create_product_variation',
);

/**
* Hook into the new hook so we can handle deprecated hooks once fired.
* @param  string $hook_name
*/
public function hook_in( $hook_name ) {
add_action( $hook_name, array( $this, 'maybe_handle_deprecated_hook' ), -1000, 8 );
}

/**
* If the old hook is in-use, trigger it.
*
* @param string $new_hook
* @param string $old_hook
* @param array $new_callback_args
* @param mixed $return_value
* @return mixed
*/
public function handle_deprecated_hook( $new_hook, $old_hook, $new_callback_args, $return_value ) {
if ( has_action( $old_hook ) ) {
$this->display_notice( $old_hook, $new_hook );
$return_value = $this->trigger_hook( $old_hook, $new_callback_args );
}
return $return_value;
}

/**
* Fire off a legacy hook with it's args.
*
* @param  string $old_hook
* @param  array $new_callback_args
* @return mixed
*/
protected function trigger_hook( $old_hook, $new_callback_args ) {
switch ( $old_hook ) {
case '{PLUGIN_HOOK_CLASS_NAME}_order_add_shipping' :
case '{PLUGIN_HOOK_CLASS_NAME}_order_add_fee' :
$item_id  = $new_callback_args[0];
$item     = $new_callback_args[1];
$order_id = $new_callback_args[2];
if ( is_a( $item, '{PLUGIN_CLASS_PREFIX}_Order_Item_Shipping' ) || is_a( $item, '{PLUGIN_CLASS_PREFIX}_Order_Item_Fee' ) ) {
do_action( $old_hook, $order_id, $item_id, $item );
}
break;
case '{PLUGIN_HOOK_CLASS_NAME}_order_add_coupon' :
$item_id  = $new_callback_args[0];
$item     = $new_callback_args[1];
$order_id = $new_callback_args[2];
if ( is_a( $item, '{PLUGIN_CLASS_PREFIX}_Order_Item_Coupon' ) ) {
do_action( $old_hook, $order_id, $item_id, $item->get_code(), $item->get_discount(), $item->get_discount_tax() );
}
break;
case '{PLUGIN_HOOK_CLASS_NAME}_order_add_tax' :
$item_id  = $new_callback_args[0];
$item     = $new_callback_args[1];
$order_id = $new_callback_args[2];
if ( is_a( $item, '{PLUGIN_CLASS_PREFIX}_Order_Item_Tax' ) ) {
do_action( $old_hook, $order_id, $item_id, $item->get_rate_id(), $item->get_tax_total(), $item->get_shipping_tax_total() );
}
break;
case '{PLUGIN_HOOK_CLASS_NAME}_add_shipping_order_item' :
$item_id  = $new_callback_args[0];
$item     = $new_callback_args[1];
$order_id = $new_callback_args[2];
if ( is_a( $item, '{PLUGIN_CLASS_PREFIX}_Order_Item_Shipping' ) ) {
do_action( $old_hook, $order_id, $item_id, $item->legacy_package_key );
}
break;
case '{PLUGIN_HOOK_CLASS_NAME}_add_order_item_meta' :
$item_id  = $new_callback_args[0];
$item     = $new_callback_args[1];
$order_id = $new_callback_args[2];
if ( is_a( $item, '{PLUGIN_CLASS_PREFIX}_Order_Item_Product' ) ) {
do_action( $old_hook, $item_id, $item->legacy_values, $item->legacy_cart_item_key );
}
break;
case '{PLUGIN_HOOK_CLASS_NAME}_add_order_fee_meta' :
$item_id  = $new_callback_args[0];
$item     = $new_callback_args[1];
$order_id = $new_callback_args[2];
if ( is_a( $item, '{PLUGIN_CLASS_PREFIX}_Order_Item_Fee' ) ) {
do_action( $old_hook, $order_id, $item_id, $item->legacy_fee, $item->legacy_fee_key );
}
break;
case '{PLUGIN_HOOK_CLASS_NAME}_order_edit_product' :
$item_id  = $new_callback_args[0];
$item     = $new_callback_args[1];
$order_id = $new_callback_args[2];
if ( is_a( $item, '{PLUGIN_CLASS_PREFIX}_Order_Item_Product' ) ) {
do_action( $old_hook, $order_id, $item_id, $item, $item->get_product() );
}
break;
case '{PLUGIN_HOOK_CLASS_NAME}_order_update_coupon' :
case '{PLUGIN_HOOK_CLASS_NAME}_order_update_shipping' :
case '{PLUGIN_HOOK_CLASS_NAME}_order_update_fee' :
case '{PLUGIN_HOOK_CLASS_NAME}_order_update_tax' :
if ( ! is_a( $item, '{PLUGIN_CLASS_PREFIX}_Order_Item_Product' ) ) {
do_action( $old_hook, $order_id, $item_id, $item );
}
break;
default :
do_action_ref_array( $old_hook, $new_callback_args );
break;
}
}
}
